/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #f8f8f8; /* Off-white background color */
}

a {
  color: #0077cc; /* Blue link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Navigation Styles */
.navbar {
  background-color: navy;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Lora', serif;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin-right: 20px;
}

.menu-link {
  color: #ffffff;
  font-size: 18px;
}

/* Hero Image Styles */
.hero-pic {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Written Section Styles */
.written-section {
  margin: 20px 0;
  padding: 0 10px;
  text-align: justify;
}

.written-section p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}

/* Contact List Styles */
.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-list li {
  margin-right: 10px;
}

.contact-list i {
  font-size: 24px;
  color: navy;
  margin-right: 5px;
}

/* Footer Styles */
.footer {
  background-color: navy;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer i {
  font-size: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.footer i:hover {
    color: orangered;
}

/* Media Queries for Mobile Devices */

  /* Navigation Styles for Mobile Devices */
  @media only screen and (max-width: 600px) {
    .navbar {
      background-color: navy;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position: sticky;
      top: 0;
    }
  
    .navbar h1 {
      font-size: 28px;
      margin-left: 10px;
    }
  
    .navbar i {
      font-size: 32px;
    }
  
    .navbar ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: navy;
      text-align: center;
      z-index: 1;
    }
  
    .navbar li {
      margin: 10px 0;
    }
  
    .navbar a {
      color: white;
      text-decoration: none;
    }
  
    .navbar .menu-icon {
      display: block;
    }
  
    .navbar .menu-icon i {
      font-size: 32px;
      cursor: pointer;
    }
  }
  

  /* Hero Image Styles for Mobile Devices */
  .hero-pic {
    margin: 150px 0;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  /* Written Section Styles for Mobile Devices */
  .written-section {
    padding: 0 5px;
  }

  /* Contact List Styles for Mobile Devices */
  .contact-list {
    justify-content: flex-start;
  }

  .contact-list li {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .contact-list i {
    font-size: 20px;
    margin-right: 0;
  }


  /* Footer Styles for mobile devices*/
  @media only screen and (max-width: 600px) {
    .footer {
      background-color: navy;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .footer i {
      font-size: 24px;
    }
  }
  

  
  
  
  